# IDE files
.idea
.vscode

#ipynb_checkpoints
.ipynb_checkpoints/

#do not push .autosave files
*.autosave

#folders
build/
assets/
credentials/
email-lists/

# venv
env

# python caches
__pycache__

#temp

# others
credentials.zip
temporary.json
results.txt
results.json
grading_errors.txt