# IDE files
.idea
.vscode

# Ignore credentials file
mycreds.txt

# Igonore token file
token.pickle

#ipynb_checkpoints
.ipynb_checkpoints/

client_secrets.json

#do not push .autosave files
*.autosave

#do no add build folder
build/

#do not add results folder
assets/

private_key.txt

# venv
env

# python caches
__pycache__

#temp
classroom/*.txt
classroom/*.json

